#logo-label {
    -fx-font-family: "Andale Mono, monospace";
    -fx-font-size: 30px;
    -fx-alignment: center;
}

#workspace-button {
    -fx-background-color: rgba(0, 0, 0, 0.08),
    linear-gradient(#9a9a9a, #e22929),
    linear-gradient(white 0%, #f3f3f3 50%, #ececec 40%, #f2f2f2 80%);
    -fx-background-insets: 0 0 0 0, 0, 1;
    -fx-background-radius: 5, 5, 4;
    -fx-padding: 3 15 3 15;
    -fx-text-fill: #000000;
    -fx-font-weight: bold;
    -fx-font-size: 16px;
}
#workspace-button:hover {
    -fx-background-color: rgba(0, 0, 0, 0.08),
    linear-gradient(#9a9a9a, black),
    linear-gradient(white 0%, #f3f3f3 50%, #ececec 50%, #f2f2f2 100%);
}

#workspace-button:pressed {
    -fx-background-color: lightgrey;
}

#login-button {
    -fx-background-color: rgba(0, 0, 0, 0.08),
    linear-gradient(#9a9a9a, #0c9ee2),
    linear-gradient(white 0%, #f3f3f3 50%, #ececec 50%, #f2f2f2 100%);
    -fx-background-insets: 0 0 -1 0, 0, 1;
    -fx-background-radius: 5, 5, 4;
    -fx-padding: 3 30 3 30;
    -fx-text-fill: #000000;
    -fx-font-weight: normal;
    -fx-font-size: 15px;
}

#login-button:hover {
    -fx-background-color: rgba(0, 0, 0, 0.08),
    linear-gradient(#9a9a9a, black),
    linear-gradient(white 0%, #f3f3f3 50%, #ececec 50%, #f2f2f2 100%);
}

#login-button:pressed {
    -fx-background-color: lightgrey;
}

#dashboard-button {
    -fx-background-color: rgba(0, 0, 0, 0.08),
    linear-gradient(#9a9a9a, #e20c3e),
    linear-gradient(white 0%, #f3f3f3 50%, #ececec 50%, #f2f2f2 100%);
    -fx-background-insets: 0 0 -1 0, 0, 1;
    -fx-background-radius: 5, 5, 4;
    -fx-padding: 3 30 3 30;
    -fx-text-fill: #000000;
    -fx-font-weight: normal;
    -fx-font-size: 15px;
}
#dashboard-button:hover {
    -fx-background-color: rgba(0, 0, 0, 0.08),
    linear-gradient(#9a9a9a, black),
    linear-gradient(white 0%, #f3f3f3 50%, #ececec 50%, #f2f2f2 100%);
}

#dashboard-button:pressed {
    -fx-background-color: lightgrey;
}

#scene-bg {
    -fx-background-color: linear-gradient(to right top, #fff1eb 0%, #ace0f9 100%);
}

#text-field {
    -fx-background-color: #a9a9a9, white, white;
    -fx-background-insets: 0 -1 -1 -1, 0 0 0 0, 0 -1 3 -1;
}

#second-scene-bg {
    -fx-background-color: linear-gradient(to right top, #fff1eb 0%, #caeef6 100%);
}

#third-scene-bg {
    -fx-background-color: linear-gradient(to right top, #fff1eb 0%, #caeef6 100%);
    -fx-spacing: 15.0;
    -fx-padding: 15.0;
}

#modal {
    -fx-pref-width: 400.0;
    -fx-pref-height: 250.0;
    -fx-spacing: 12.0;
    -fx-padding: 8 10 8 10;
    -fx-alignment: top-center;
    -fx-background-color: linear-gradient(to right top, #fff1eb 0%, rgba(250, 245, 245, 0.15) 100%);
}

#status-label {
    -fx-text-fill: green;
    -fx-font-size: 20.0;
    -fx-font-weight: bold;
}

#password-label {
    -fx-opacity: 0.3;
}
#vbox-organized{
    -fx-spacing: 15.0;
    -fx-padding: 15.0;
}